In [4]:
import pandas as pd
import os
import psycopg2
from sqlalchemy import create_engine,types

In [1]:
## 저장할 DB 정보
inId = "아이디"  # 아이디
inPw = "패스워드"  # 패스워드
inIp = "IP주소"  # IP주소
inPort = "포트번호"  # 포트번호
inDbName = "데이터베이스_이름"  # 데이터베이스 이름

In [2]:
row1 = [inId,inPw,inIp,inPort,inDbName]
columns = ["Id","Pw","Ip","Port","DbName"]

In [6]:
dbInfo = pd.DataFrame([row1], columns = columns)

    Id    Pw    Ip  Port     DbName
0  아이디  패스워드  IP주소  포트번호  데이터베이스_이름

In [53]:
## DB 정보 여러개 저장되어 있다면, 행 번호로 선택 가능 (단, oracle만)
selectDb = 0

In [54]:
engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(dbInfo.iloc[selectDb,0],dbInfo.iloc[selectDb,1],dbInfo.iloc[selectDb,2],dbInfo.iloc[selectDb,3],dbInfo.iloc[selectDb,4]))

In [55]:
## 파일이 들어있는 폴더 경로
folderPath = "../dataset"
fileList = os.listdir(folderPath)

In [56]:
try:
    engine
    print("Database connection successful")
except Exception as e:
    print(e)
    exit(1)

Database connection successful

In [57]:
for i in range(0, len(fileList)):
    filePath = '{}/{}'.format(folderPath,fileList[i])
    fileName = fileList[i].upper()
    ## .csv 파일일 떄
    if fileList[i].endswith(".csv"):
        fileName = fileName.replace(".CSV","")
        try:
            sentFile = pd.read_csv(filePath, encoding ="ms949")
            sentFile.to_sql(fileName, engine, if_exists='replace')
        except Exception as e:
            print(e)
    ## .xlsx 파일일 떄
    elif fileList[i].endswith(".xlsx"):
        fileName = fileName.replace(".XLSX","")
        try:
            sentFile = pd.read_excel(filePath)
            sentFile.to_sql(fileName, engine, if_exists='replace')
        except Exception as e:
            print(e)

Could not reflect: requested table(s) not available in Engine(oracle+cx_oracle://kopo:***@192.168.110.112:1521/orcl): (CUSTOMERDATA)
Could not reflect: requested table(s) not available in Engine(oracle+cx_oracle://kopo:***@192.168.110.112:1521/orcl): (KOPO_CUSTOMERDATA)
Could not reflect: requested table(s) not available in Engine(oracle+cx_oracle://kopo:***@192.168.110.112:1521/orcl): (SAMPLE_KOPO)